services:

  php:
    build:
      context: ./docker/php
    container_name: php82-app
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: miapp
      MYSQL_USER: dev
      MYSQL_PASSWORD: devpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    configs:
      - source: mysql-config
        target: /etc/mysql/conf.d/my.cnf

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin-ui
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - mysql

configs:
  mysql-config:
    file: ./docker/mysql/my.cnf

volumes:
  db_data:
